<nav>
    <div class="nav-wrapper">
      <a routerLink="/inicio" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/administracion/asesor">Asesores</a></li>
        <li><a routerLink="/administracion/clientes">Clientes</a></li>
        <li><a routerLink="/administracion/inmueble">Inmueble</a></li>
        <li><a routerLink="/seguridad/cambioClave">Cambiar clave</a></li>
        <li><a routerLink="/seguridad/identificar">Iniciar Sesion</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo"><li><a routerLink="/administracion/asesor">Asesores</a></li>
    <li><a routerLink="/administracion/clientes">Clientes</a></li>
    <li><a routerLink="/administracion/inmueble">Inmueble</a></li>
    <li><a routerLink="/seguridad/cambioClave">Cambiar clave</a></li>
    <li><a routerLink="/seguridad/identificar">Iniciar Sesion</a></li>
  </ul>