<strong>
    <br />
    <img src="https://cms-assets.tutsplus.com/uploads/users/343/posts/23811/preview_image/tutsplus-icon.png" width="30" height="20">
    <span style= 'color: rgb(33, 174, 199);' >Registro</span>
</strong>
<br />

<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-3">
        <label for="validacionNombres" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="txtNombres" required>


    </div>
    <div class="col-md-3">
        <label for="validacionApellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="txtApellidos" required>


    </div>
    <div class="col-md-3">
        <label for="validacionEmail" class="form-label">Email</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" class="form-control" id="txtEmail" aria-describedby="inputGroupPrepend" required>


        </div>
    </div>

    <div class="col-md-3">
        <label for="validacionTelefono" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="txtTelefono" required>


    </div>
    <div class="col-md-2">
        <label for="validationDireccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="txtDireccion" required>


    </div>

    <p>
        <label>
            <input type="checkbox" />
            <span>Acepta nuestros terminos y condiciones (*).</span>
            <input class="checkbox" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck"></label>
                     
        </label>
    </p>

</form>
